[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-firestore = "*"
firebase-admin = "*"
certifi = "*"
instagrapi = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
